
.myBtnWhite{
    min-width: 120px;
    min-height: 40px;
    background: #FFFFFF;
    border: 2px solid #00A4F7;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    font-size: 18px;
    color: #00A4F7;
}

.myBtnWhite:hover{
    background: #128ACE;
    color: #FFFFFF;
}

.myBtn{
    min-width: 120px;
    min-height: 40px;
    background: #00A4F7;
    color: #FFFFFF;
    font-size: 18px;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.myBtn:hover{
    background: #128ACE;
    color: #FFFFFF;
}

.btnDesabled{
    opacity: .4;
}

@media screen and(max-width: 768px){
    .myBtn{
        font-size: 16px;
    }
    .myBtnWhite{
        font-size: 16px;
    }
}

@media screen and(max-width: 576px){
    .myBtn{
        font-size: 14px;
    }
    .myBtnWhite{
        font-size: 14px;
    }
}