.layout{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 3vw;
    border: 1px solid #ccc;
   
}

.container{
    width: 100%;
    max-width: 1320px;
    border: 1px solid #ccc;
    margin: 0 auto;
    padding-top: 20px;

}